// Colors
$color-white: #fff;
$color-black: #000;
$color-black-ransparency:  rgb(0,0,0, 0.7);
$color-black-light:  rgb(0,0,0, 0.3);
$color-pickled-bluewood: #273E47;
$color-pavlova: #d8c99b;
$color-red-berry: #8A0303;
$color-red:#F50006;
$color-malibu: #53bdff;
$color-apple: #2eb933;
$color-dodger-blue: #20a9ff;
$color-yellow: #ffff00;
$color-mint-green: #87ff8e;
$color-mine-shaft: #333;
$color-silver: #ccc;
$color-grey: #9E9E9E;

$font-raleway: 'Raleway', Arial, sans-serif;

$transition-300: 300ms ease-out;
