<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
  <link rel="shortcut icon" href="./assets/img/favicon.ico">
</head>

<body>
  <!-- <header>
    <div class="container">
      <nav class="main-nav">
        <button id="header-menu-button" class="main-nav__button" type="button">
          <span></span>
        </button>
        <ul class="main-nav__list">
          <li><a class="main-nav__link" href="#">Settings</a></li>
          <li><a class="main-nav__link" href="#">How to play?</a></li>
          <li><a class="main-nav__link" href="#">GitHub</a></li>
          <li><a class="main-nav__link" href="#">Statistics</a></li>
        </ul>
      </nav>
    </div>
  </header> -->
  <main>
    <div class="content">
      <div id="overlay" class="overlay"></div>
      <div id="wall-1" class="wall active">1
        <div class="door element">
          <a class="lock element" href="#">
            <span id="knob" class="knob element"></span>
          </a>
        </div>
        <div id="clock" class="clock element">
        </div>
      </div>
      <div id="wall-2" class="wall">2
    
      </div>
      <div id="wall-3" class="wall">3
        <div id="hat" class="hat element"></div>
        <div id="couch" class="couch element"></div>
        <div id="safe-box" class="safe-box element"></div>
        <div id="box" class="box element"></div>
        <div id="bottle" class="bottle element"></div>
        <div id="picture" class="picture element"></div>
        <div id="coffee-table" class="coffee-table element"></div>
        <div id="cat" class="cat element"></div>
      </div>
      <div id="wall-4" class="wall">4</div>
      <div class="floor"></div>
    </div>
    <div class="arrows">
      <button id="room-arrow-left" class="arrow arrow--left" type="button"></button>
      <button id="room-arrow-right" class="arrow arrow--right" type="button"></button>
    </div>
  </main>
  <div id="memory-game" class="memory-game">
    <div id="memory-game-grid" class="memory-game__grid"></div>
  </div>
  <div class="hangman">
    <h1>Hangman</h1>
    <p class="word_field"></p>
    <form class="hangman_form">
      <input class="letter_input" placeholder="Enter a letter . . . ⏎" type="text" size="5" maxlength="1">
      <input class="guess_btn" type="button" value="Guess">
      <ul class="wrong_letters">
        <p>Wrong Letters:</p>
      </ul>
      <img class="hangman_img" src="./assets/img/hangman_0.png"><br />
    </form>
    <div class="message"></div>
  </div>
  <footer></footer>
</body>

</html>