<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
  <link rel="shortcut icon" href="./assets/img/favicon.ico">
</head>

<body>
  <!-- <header>
    <div class="container">
      <nav class="main-nav">
        <button id="header-menu-button" class="main-nav__button" type="button">
          <span></span>
        </button>
        <ul class="main-nav__list">
          <li><a class="main-nav__link" href="#">Settings</a></li>
          <li><a class="main-nav__link" href="#">How to play?</a></li>
          <li><a class="main-nav__link" href="#">GitHub</a></li>
          <li><a class="main-nav__link" href="#">Statistics</a></li>
        </ul>
      </nav>
    </div>
  </header> -->
  <main>
    <canvas id="canvas" class="canvas">
      Your browser does not support canvas. Please try again with a different browser.
    </canvas>
  </main>
  <footer></footer>
</body>

</html>