<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
  <link rel="shortcut icon" href="./assets/img/favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <header class="main-header">
    <ul id="slide-out" class="sidenav grey darken-3 main-header__list">
      <li>
        <a id="menu-volume-toggle" class="grey-text text-lighten-5 main-header__link" href="#" data-sound="on">
          <i class="material-icons grey-text text-lighten-3">volume_up</i>
          <span>Sound</span>
        </a>
      </li>
      <li>
          <a class="grey-text text-lighten-5 main-header__link modal-trigger" href="#modal-rules">
          <i class="material-icons grey-text text-lighten-3">info</i>
          <span>How to play?</span>
        </a>
      </li>
      <li>
        <a class="grey-text text-lighten-5 main-header__link" href="#">
          <i class="material-icons grey-text text-lighten-3">timeline</i>
          <span>Statistics</span>
        </a>
      </li>
      <li>
        <a id="menu-restart-button" class="grey-text text-lighten-5 main-header__link" href="#">
          <i class="material-icons grey-text text-lighten-3">refresh</i>
          <span>Restart</span>
        </a>
      </li>
      <li>
        <a class="grey-text text-lighten-5 main-header__link" href="#">
          <i class="material-icons grey-text text-lighten-3">language</i>
          <span>Language</span>
        </a>
      </li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger main-header__button">
      <i class="material-icons grey-text text-lighten-3 medium">pause_circle_outline</i>
    </a>
  </header>
  <main>
    <div class="content">
      <div id="overlay" class="overlay"></div>
      <div id="wall-1" class="wall active">
        <div class="door element">
          <a class="lock element" href="#">
            <span id="knob" class="knob element"></span>
          </a>
        </div>
        <div id="clock" class="clock element"></div>
        <div id="piano" class="piano element"></div>
        <div class="lamp element"></div>
      </div>
      <div id="wall-2" class="wall" >2
        <div class="wall-2__content">
          <div class="wardrobe">
            <img class="rack" src="./assets/img/rack.png">
            <img class="chest" src="./assets/img/chest.png">
            <div class="frame">
              <img class="frame-image" src="./assets/img/frame.jpg">
            </div>
          </div>
          <div class="mirror">
            <img src="./assets/img/mirror.png">
          </div>
          <div class="shelfs">
            <div class="shelf">
              <img src="./assets/img/shelf3.png">
            </div>
            <div class="shelf">
              <img src="./assets/img/shelf2.png">
              <div class="cube5">
                <img src="./assets/img/cube5.png">
              </div>
              <div class="cube4">
                <img src="./assets/img/cube4.png">
              </div>
            </div>
            <div class="shelf">
              <img src="./assets/img/shelf1.png">
              <div class="cube2">
                <img src="./assets/img/cube2.png">
              </div>
              <div class="cube6">
                <img src="./assets/img/cube6.png">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="wall-3" class="wall">3
        <div id="hat" class="hat element"></div>
        <div id="couch" class="couch element"></div>
        <div id="safe-box" class="safe-box element"></div>
        <div id="box" class="box element"></div>
        <div id="bottle" class="bottle element"></div>
        <div id="picture" class="picture element"></div>
        <div id="coffee-table" class="coffee-table element"></div>
        <div id="cat" class="cat element"></div>
      </div>
      <div id="wall-4" class="wall">4
        <div class="board_paper element"></div>
        <div id="paper" class="paper_one element"></div>
        <div class="paper_two element"></div>
        <div class="chair element"></div>
        <div class="work_table element"></div>
        <div class="cat_statuette element"></div>
        <div class="pillow element"></div>
      </div>
      <div class="floor"></div>
    </div>
    <div class="arrows">
      <button id="room-arrow-left" class="arrow arrow--left" type="button"></button>
      <button id="room-arrow-right" class="arrow arrow--right" type="button"></button>
    </div>
  </main>
  <div class="tic-tac-toe">
    <span class="tic-tac-toe__close">&times</span>
    <div class="tic-tac-toe__repeat"><img src="./assets/img/repeat.png"></div>
    <div class="tic-tac-toe__content">
      <div class="tic-tac-toe__game">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
      </div>
    </div>
    <div class="win"></div>
  </div>
  <div class="tetris">
    <span class="tetris__close">&times</span>
    <div class="tetris__repeat"><img src="./assets/img/repeat.png"></div>
    <div class="tetris__content">
      <canvas class="tetris__game" width="200" height="400"></canvas>
      <div class="tetrisScore">
          Score : <span class="numberScore">0</span>
      </div>
      <div class="resultTetris"></div>
    </div>
  </div>
  <div id="memory-game" class="memory-game">
    <div id="memory-game-grid" class="memory-game__grid"></div>
  </div>
  <div class="hangman">
    <h1>Hangman</h1>
    <p class="word_field"></p>
    <form class="hangman_form">
      <input class="letter_input" placeholder="Enter a letter . . . ⏎" type="text" size="5" maxlength="1">
      <input class="guess_btn" type="button" value="Guess">
      <ul class="wrong_letters">
        <p>Wrong Letters:</p>
      </ul>
      <img class="hangman_img" src="./assets/img/hangman_0.png"><br />
    </form>
    <div class="message"></div>
  </div>
  <div class="gem-puzzle"></div>
  <div id="simon-game" class="simon-game">
    <div id="simon-game-result" class="simon-game__result"></div>
    <div id="simon-game-piano" class="simon-game__piano"></div>
    <button id="simon-game-start" class="simon-game__button" type="button"></button>
  </div>
  <div id="modal-rules" class="modal">
    <div class="modal-content grey lighten-5 grey-text text-darken-4">
      <h4>How to play this Game?</h4>
      <p>
        There are a number of active objects in this room that change their state when the cursor is hovered over.
        Each of the objects containes a simple (and probably tricky) puzzle.
        Crack these puzzles in sequence, get hints and find the key to open the door and finally exit the room!
      </p>
      <p>
        You can use the mouse as well as keybord (WASD & Enter) to play this game.
      </p>
      <p>
        Turn sound off if you prefer to play in silent mode.
      </p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-light btn grey darken-4">Okay</a>
    </div>
  </div>
  <div class="snake">
    <span class="snake__close">&times</span>
    <div class="snake__content">
          <div class="gameDisplay">
            <canvas class="display" id="display">  Sorry, your browser does not support &lt;canvas&gt; element.</canvas>
          </div>
          <div class="rightMenu">
            <h3>Information</h3>
            <p><label>Snake length:</label>  <span id="snakeLength"></span></p>
            <p>
              Arrows - movement<br/>
              Escape - pause/resume
            </p>
            <button id="startGame">Start new game</button>
            <h1 id="message"></h1>
          </div>
    </div>
  </div>
  <footer class="main-footer">
    <a href="#">
      <img src="./assets/img/rs_school_js.svg" alt="RS Shcool Log" width="55" height="20">
    </a>
    <ul class="main-footer__list">
      <li><a href="https://github.com/alesyakuptsova" target="_blank">Alesia</a></li>
      <li><a href="https://github.com/lemeshkonastya" target="_blank">Anastasia</a></li>
      <li><a href="https://github.com/spanb4" target="_blank">Dzmitry</a></li>
      <li><a href="https://github.com/magklax" target="_blank">Nadezda</a></li>
      <li>© 2021</li>
    </ul>
  </footer>
</body>

</html>