.modal {
    .input-field {
        .email_helper {
            &.invalid {
                color: $color-red;
            }
            &.correct {
                color: $color-apple;
            }
        }
    }
    .logout {
        cursor: pointer;
    }
}
