.main-header {
  position: absolute;

  &__list {
    padding: 15px 0;
  }

  &__link {
    font-size: 18px !important;
    cursor: pointer;

    &.custom-select {
      display: flex;
    }
  }

  // materilize custom styles
  .sidenav .collapsible-header {
    padding: 0 32px;
  }

  .range-field {
    padding: 0 25px;
  }

  input[type=range] {
    border: none;
  }

  .select-wrapper .select-dropdown {
    color: #fafafa !important;
  }

  .thumb {
    display: none!important;
  }

  &__button {
    position: absolute;
    top: 15px;
    left: 15px;
    opacity: 0.5;
    transition: all 0.5s ease;
    z-index: 1;

    &:hover {
      opacity: 1;
    }
  }
}