.memory-game {
  &__close {
    position: absolute;
    top: 0;
    right: -10px;
    transform: translateX(100%);
  }

  &__grid {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 20px;
    border-radius: 10px;

    @include resolution(big-mobile) {
      padding: 10px;
      grid-template-columns: repeat(4, 75px);
      grid-template-rows: repeat(4, 75px);
      grid-gap: 10px;
    }

    @include resolution(tablet) {
      padding: 15px;
      grid-template-columns: repeat(4, 90px);
      grid-template-rows: repeat(4, 90px);
      grid-gap: 15px;
    }

    background-image: url('./../img/memory.jpg');

    &.won > .flip-card {
      opacity: 0;
      pointer-events: none;
    }
  }

  .flip-card {
    perspective: 1000px;
    border-radius: 5px;
    transition: opacity 2s;

    &__inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }

    &.opened .flip-card__inner,
    &.disabled .flip-card__inner {
      transform: rotateY(180deg);
    }

    &.disabled {
      pointer-events: none;
    }

    &__front,
    &__back {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-pavlova;
      backface-visibility: hidden;
      border-radius: 5px;
    }

    &__front {
      background-image: url('./../icons/search.svg');
      background-size: 60% 60%;
      background-position: center;
      background-repeat: no-repeat;
      transition: all 0.7s;
      outline: none;

      &:hover,
      &:focus {
        background-color: lighten($color-pavlova, 90%);
      }
    }

    &__back {
      transform: rotateY(180deg);
    }

    img {
      width: 70px;
      height: 70px;

      @include resolution(tablet) {
        width: 80px;
        height: 80px;
      }

      @include resolution(desktop) {
        width: 90px;
        height: 90px;
      }

      @include resolution(big-desktop) {
        width: 100px;
        height: 100px;
      }
    }
  }
}