@keyframes pull {
    from {
        transform: rotate(0);
    }
    50% {
        transform: rotate(15deg);
    }
    to {
        transform: rotate(0);
    }
}

.content {
    position: relative;
    width: 100%;

    .overlay.active {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color-black, 0.45);
        z-index: 100;
    }
}

.wall {
    display: none;
    position: relative;
    width: 100%;
    height: 85vh;
    background-image: url('./../img/wall.png');
    background-size: 100% 100%;
    background-position: 0 0;
    font-size: 170px;

    &__container {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 93%;
        max-width: 600px;

        @include resolution(tablet) {
            max-width: 850px;
        }

        @include resolution(desktop) {
            max-width: 1100px;
        }

        @include resolution(big-desktop) {
            max-width: 1320px;
        }

    }

    &.active {
        display: block;
    }
}

.floor {
    width: 100%;
    height: 15vh;
    background-image: url('./../img/floor.png');
    background-size: cover;
}

.element {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    z-index: 99;
}

.door {
    left: calc(50% - 20%);
    bottom: 0;
    transform: translateX(-50%);
    width: 120px;
    height: 275px;

    @include resolution(tablet) {
        width: 180px;
        height: 415px;
    }

    @include resolution(desktop) {
        width: 200px;
        height: 460px;
    }

    @include resolution(big-desktop) {
        width: 240px;
        height: 550px;
    }

    background-image: url('./../img/door.png');
}

.door-open {
    left: calc(50% - 15%);
    bottom: 0;
    transform: translateX(-50%);
    width: 200px; // temp
    height: 460px; // temp
    background-image: url('./../img/door-open.png');
}

.door-none {
    display: none;
}

.lock {
    left: 12%;
    top: 52%;
    width: 7.5px;
    height: 25px;

    @include resolution(tablet) {
        width: 12px;
        height: 40px;
    }

    @include resolution(desktop) {
        width: 15px;
        height: 50px;
    }

    @include resolution(big-desktop) {
        width: 18px;
        height: 60px;
    }

    background-image: url('./../img/lock.png');
    transition: transform $transition-300;
}

.knob {
    left: 0;
    top: 15%;
    width: 20px;
    height: 8px;

    @include resolution(tablet) {
        width: 30px;
        height: 12px;
    }

    @include resolution(desktop) {
        width: 40px;
        height: 16px;
    }

    @include resolution(big-desktop) {
        width: 48px;
        height: 20px;
    }

    transform-origin: 15% 50%;
    background-image: url('./../img/knob.png');

    &.rotate {
        animation: pull 0.6s;
    }
}

.clock {
    left: 0;
    bottom: 140px;
    width: 70px;
    height: 120px;

    @include resolution(mobile) {
        bottom: 140px;
        width: 60px;
        height: 120px;
    }

    @include resolution(big-mobile) {
        bottom: 140px;
        width: 60px;
        height: 120px;
    }

    @include resolution(tablet) {
        bottom: 200px;
        width: 105px;
        height: 180px;
    }

    @include resolution(desktop) {
        bottom: 250px;
        width: 115px;
        height: 190px;
    }

    @include resolution(big-desktop) {
        bottom: 260px;
        width: 140px;
        height: 230px;
    }

    background-image: url('./../img/clock.png');
    cursor: pointer;
}

.piano {
    right: 0;
    bottom: -10px;
    width: 240px;
    height: 180px;

    @include resolution(tablet) {
        bottom: -20px;
        width: 360px;
        height: 270px;
    }

    @include resolution(desktop) {
        bottom: -40px;
        width: 400px;
        height: 300px;
    }

    @include resolution(big-desktop) {
        bottom: -50px;
        width: 480px;
        height: 365px;
    }

    background-image: url('./../img/piano.png');
    cursor: pointer;
}

.lamp {
    right: 10%;
    bottom: 99%;
    width: 54px;
    height: 78px;

    @include resolution(tablet) {
        width: 80px;
        height: 118px;
    }

    @include resolution(desktop) {
        width: 90px;
        height: 130px;
    }

    @include resolution(big-desktop) {
        width: 96px;
        height: 144px;
    }

    background-image: url('./../img/lamp.png');
    cursor: default;
}

// wall 2
.rack {
    left: 0;
    bottom: 160px;
    width: 240px;
    height: 172px;

    @include resolution(tablet) {
        bottom: 200px;
        width: 360px;
        height: 258px;
    }

    @include resolution(desktop) {
        bottom: 220px;
        width: 400px;
        height: 285px;
    }

    @include resolution(big-desktop) {
        left: 100px;
        bottom: 250px;
        width: 480px;
        height: 345px;
    }

    background-image: url('./../img/rack.png');
}

.chest {
    left: 0;
    bottom: -20px;
    width: 240px;
    height: 122px;

    @include resolution(tablet) {
        bottom: -30px;
        width: 360px;
        height: 183px;
    }

    @include resolution(desktop) {
        bottom: -50px;
        width: 400px;
        height: 205px;
    }

    @include resolution(big-desktop) {
        left: 100px;
        bottom: -60px;
        width: 480px;
        height: 246px;
    }

    background-image: url('./../img/chest.png');
}

.frame {
    bottom: 78%;
    right: 15%;
    width: 50px;
    height: 50px;

    @include resolution(tablet) {
        width: 75px;
        height: 75px;
    }

    @include resolution(desktop) {
        width: 100px;
        height: 100px;
    }

    @include resolution(big-desktop) {
        width: 115px;
        height: 115px;
    }

    background-image: url('./../img/frame.jpg');
    cursor: pointer;
}

.shelfs {
    right: 0;
    bottom: 0;
    width: 200px;

    @include resolution(tablet) {
        width: 300px;
    }

    @include resolution(desktop) {
        width: 330px;
    }

    @include resolution(big-desktop) {
        right: 50px;
        width: 396px;
    }
}

.shelf {
    left: 0;
    width: 100%;

    &:nth-child(1) {
        bottom: 240px;
        height: 120px;

        @include resolution(tablet) {
            bottom: 320px;
            height: 180px;
        }

        @include resolution(desktop) {
            bottom: 335px;
            height: 195px;
        }

        @include resolution(big-desktop) {
            bottom: 400px;
            height: 234px;
        }

        background-image: url('./../img/shelf3.png');
    }

    &:nth-child(2) {
        bottom: 165px;
        height: 62px;

        @include resolution(tablet) {
            bottom: 215px;
            height: 93px;
        }

        @include resolution(desktop) {
            bottom: 225px;
            height: 100px;
        }

        @include resolution(big-desktop) {
            bottom: 265px;
            height: 120px;
        }

        background-image: url('./../img/shelf2.png');

        .cube {
            bottom: 10%;
            width: 20px;
            height: 20px;

            @include resolution(tablet) {
                width: 30px;
                height: 30px;
            }

            @include resolution(desktop) {
                width: 35px;
                height: 35px;
            }

            @include resolution(big-desktop) {
                width: 45px;
                height: 45px;
            }


            &:nth-child(1) {
                left: 15%;
                background-image: url('./../img/cube5.png');
                cursor: pointer;
            }

            &:nth-child(2) {
                left: 40%;
                background-image: url('./../img/cube4.png');
            }
        }
    }

    &:nth-child(3) {
        bottom: 85px;
        height: 67px;

        @include resolution(tablet) {
            bottom: 100px;
            height: 101px;
        }

        @include resolution(desktop) {
            bottom: 100px;
            height: 109px;
        }

        @include resolution(big-desktop) {
            bottom: 120px;
            height: 131px;
        }

        background-image: url('./../img/shelf1.png');

        .cube {
            bottom: 10%;

            &:nth-child(1) {
                left: 50%;
                width: 22px;
                height: 17px;

                @include resolution(tablet) {
                    width: 33px;
                    height: 26px;
                }

                @include resolution(desktop) {
                    width: 38px;
                    height: 30px;
                }

                @include resolution(big-desktop) {
                    width: 49px;
                    height: 39px;
                }

                background-image: url('./../img/cube2.png');
            }

            &:nth-child(2) {
                left: 75%;
                width: 15px;
                height: 20px;

                @include resolution(tablet) {
                    width: 23px;
                    height: 30px;
                }

                @include resolution(desktop) {
                    width: 27px;
                    height: 35px;
                }

                @include resolution(big-desktop) {
                    width: 35px;
                    height: 45px;
                }

                background-image: url('./../img/cube6.png');
            }
        }
    }
}

// wall 3
.couch {
    right: 0;
    bottom: -10px;
    width: 240px;
    height: 135px;

    @include resolution(tablet) {
        width: 350px;
        height: 203px;
    }

    @include resolution(desktop) {
        width: 390px;
        height: 215px;
    }

    @include resolution(big-desktop) {
        width: 470px;
        height: 260px;
    }

    background-image: url('./../img/couch.png');
}

.safe-box {
    right: calc(240px / 2);
    bottom: 180px;
    transform: translateX(50%);
    width: 84px;
    height: 84px;

    @include resolution(tablet) {
        right: calc(350px / 2);
        bottom: 240px;
        width: 125px;
        height: 125px;
    }

    @include resolution(desktop) {
        right: calc(390px / 2);
        bottom: 260px;
        width: 140px;
        height: 140px;
    }

    @include resolution(big-desktop) {
        right: calc(470px / 2);
        bottom: 330px;
        width: 170px;
        height: 170px;
    }

    background-image: url('./../img/safe-box.png');
    cursor: pointer;
}
.box {
    left: 25%;
    bottom: -60px;
    width: 85px;
    height: 85px;

    @include resolution(tablet) {
        width: 125px;
        height: 125px;
    }

    @include resolution(desktop) {
        width: 140px;
        height: 140px;
    }

    @include resolution(big-desktop) {
        width: 170px;
        height: 170px;
    }

    background-image: url('./../img/box.png');
    cursor: pointer;
}

.bottle {
    left: 5%;
    bottom: -30px;
    width: 45px;
    height: 45px;

    @include resolution(tablet) {
        bottom: -50px;
        width: 70px;
        height: 70px;
    }

    @include resolution(desktop) {
        bottom: -70px;
        width: 75px;
        height: 75px;
    }

    @include resolution(big-desktop) {
        bottom: -75px;
        width: 90px;
        height: 90px;
    }

    background-image: url('./../img/bottle.png');
}

.picture {
    right: calc(240px / 2);
    bottom: 190px;
    transform: translateX(50%);
    width: 84px;
    height: 84px;

    @include resolution(tablet) {
        right: calc(350px / 2);
        bottom: 250px;
        width: 125px;
        height: 125px;
    }

    @include resolution(desktop) {
        right: calc(390px / 2);
        bottom: 270px;
        width: 140px;
        height: 140px;
    }

    @include resolution(big-desktop) {
        right: calc(470px / 2);
        bottom: 340px;
        width: 170px;
        height: 170px;
    }

    background-image: url('./../img/picture.png');
    cursor: pointer;
    transition: 0.6s;
    &.dropped {
        cursor: default;
        transform:  translateX(-50%) rotate(15deg);
        bottom: -20px;
    }
}
.coffee-table {
    right: calc(240px / 2);
    bottom: -50px;
    transform: translateX(50%);
    width: 115px;
    height: 115px;

    @include resolution(tablet) {
        right: calc(350px / 2);
        bottom: -60px;
        width: 175px;
        height: 175px;
    }

    @include resolution(desktop) {
        right: calc(390px / 2);
        bottom: -70px;
        width: 195px;
        height: 195px;
    }

    @include resolution(big-desktop) {
        right: calc(470px / 2);
        bottom: -80px;
        width: 235px;
        height: 235px;
    }

    background-image: url('./../img/coffee-table.png');
}
.cat {
    left: 15%;
    bottom: 35%;
    width: 60px;
    height: 60px;

    @include resolution(tablet) {
        width: 90px;
        height: 90px;
    }

    @include resolution(desktop) {
        width: 100px;
        height: 100px;
    }

    @include resolution(big-desktop) {
        width: 120px;
        height: 120px;
    }

    background-image: url('./../img/cat.png');
}
// wall 3

.lock1, .lock2, .lock3, .lock4, .lock5, .lock6, .lock7, .lock8 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    margin-left: -50px;
    bottom: 0;
    margin-bottom: 430px;

    &:hover {
        cursor: pointer;
    }

    @include resolution(desktop) {
        margin-left: -40px;
        margin-bottom: 380px;
    }

    @include resolution(tablet) {
        margin-left: -30px;
        margin-bottom: 330px;
    }

    @include resolution(big-mobile) {
        margin-left: -20px;
        margin-bottom: 200px;
    }

    @include resolution(mobile) {
        margin-left: -20px;
        margin-bottom: 200px;
    }
}

.lock2 {
    margin-bottom: 380px;

    @include resolution(desktop) {
        margin-bottom: 330px;
    }

    @include resolution(tablet) {
        margin-bottom: 290px;
    }

    @include resolution(big-mobile) {
        margin-bottom: 175px;
    }

    @include resolution(mobile) {
        margin-bottom: 175px;
    }
}

.lock3 {
    margin-bottom: 330px;

    @include resolution(desktop) {
        margin-bottom: 280px;
    }

    @include resolution(tablet) {
        margin-bottom: 250px;
    }

    @include resolution(big-mobile) {
        margin-bottom: 150px;
    }

    @include resolution(mobile) {
        margin-bottom: 150px;
    }
}

.lock4 {
    margin-bottom: 280px;

    @include resolution(desktop) {
        margin-bottom: 230px;
    }

    @include resolution(tablet) {
        margin-bottom: 210px;
    }

    @include resolution(big-mobile) {
        margin-bottom: 125px;
    }

    @include resolution(mobile) {
        margin-bottom: 125px;
    }
}

.lock5 {
    margin-bottom: 230px;

    @include resolution(desktop) {
        margin-bottom: 180px;
    }

    @include resolution(tablet) {
        margin-bottom: 170px;
    }

    @include resolution(big-mobile) {
        margin-bottom: 100px;
    }

    @include resolution(mobile) {
        margin-bottom: 100px;
    }
}

.lock6 {
    margin-bottom: 180px;

    @include resolution(desktop) {
        margin-bottom: 130px;
    }

    @include resolution(tablet) {
        margin-bottom: 130px;
    }

    @include resolution(big-mobile) {
        margin-bottom: 75px;
    }

    @include resolution(mobile) {
        margin-bottom: 75px;
    }
}

.lock7 {
    margin-bottom: 130px;

    @include resolution(desktop) {
        margin-bottom: 80px;
    }

    @include resolution(tablet) {
        margin-bottom: 90px;
    }

    @include resolution(big-mobile) {
        margin-bottom: 50px;
    }

    @include resolution(mobile) {
        margin-bottom: 50px;
    }
}

.lock8 {
    margin-bottom: 80px;

    @include resolution(desktop) {
        margin-bottom: 30px;
    }

    @include resolution(tablet) {
        margin-bottom: 50px;
    }

    @include resolution(big-mobile) {
        margin-bottom: 25px;
    }

    @include resolution(mobile) {
        margin-bottom: 25px;
    }
}

.lock__close, .lock__open {
    position: absolute;
    margin: 0;
    width: 50px;
    display: none;

    & img {
        position: absolute;
        width: 100%;
        transition: all 1s ease-in-out;
    }

    @include resolution(desktop) {
        width: 40px;
    }

    @include resolution(tablet) {
        width: 30px;
    }

    @include resolution(big-mobile) {
        width: 20px;
    }

    @include resolution(mobile) {
        width: 20px;
    }
}

.lock__active {
    display: block;
}

.lock__text {
    position: absolute;
    margin-top: 450px;
    margin-left: 195px;
    width: 300px;
    height: 50px;
    font-size: 30px;
}

.game-over-lock {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    overflow: hidden;
    z-index: 199;

    width: 100%;
    height: 100%;
    background: $color-black-light;

    &.active {
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        color: $color-white;
        font-size: 70px;
        position: absolute;
        margin-left: 93%;

        &:hover {
            cursor: pointer;
        };
    }

    &__content {
        display: flex;
        justify-content: center;
        z-index: 500;
    }
}

.lock-game {
    display: flex;
    justify-content: center;

    &__close, &__open {
        top: 0;
        width: 700px;
        display: none;

        img {
            width: 100%;
            transition: all 1s ease-in-out;
        }

        @include resolution(desktop) {
            width: 500px;
        }
    
        @include resolution(tablet) {
            width: 500px;
        }
    
        @include resolution(big-mobile) {
            margin-top: 200px;
            width: 300px;
        }
    
        @include resolution(mobile) {
            margin-top: 200px;
            width: 300px;
        }
    }

    &__active {
        display: block;
    }

    &__exit {
        position: absolute;
        width: 300px;
        margin-top: 450px;
        top: 0;

        @include resolution(desktop) {
            width: 200px;
            margin-top: 300px;
        }
    
        @include resolution(tablet) {
            width: 200px;
            margin-top: 300px;
        }
    
        @include resolution(big-mobile) {
            width: 100px;
            margin-top: 370px;
        }

        @include resolution(mobile) {
            width: 100px;
            margin-top: 370px;
        }
    }

    &__text {
        height: 50px;
        font-size: 30px;
        font-weight: 700;
    }
}

.mirror {
    left: 0;
    bottom: -10px;
    width: 100px;
    height: 235px;

    @include resolution(tablet) {
        bottom: -20px;
        width: 150px;
        height: 353px;
    }

    @include resolution(desktop) {
        bottom: -30px;
        width: 165px;
        height: 385px;
    }

    @include resolution(big-desktop) {
        bottom: -40px;
        width: 200px;
        height: 475px;
    }

    background-image: url('./../img/mirror.png');
}

// wall 4
.board_paper {
    left: 50%;
    bottom: 170px;
    transform: translateX(-50%);
    width: 187px;
    height: 117px;

    @include resolution(tablet) {
        bottom: 240px;
        width: 280px;
        height: 175px;
    }

    @include resolution(desktop) {
        bottom: 260px;
        width: 310px;
        height: 205px;
    }

    @include resolution(big-desktop) {
        bottom: 290px;
        width: 372px;
        height: 246px;
    }

    background-image: url('./../img/board-paper.jpg');
}

.work_table {
    left: 0;
    bottom: -20px;
    width: 250px;
    height: 190px;

    @include resolution(tablet) {
        bottom: -30px;
        width: 375px;
        height: 285px;
    }

    @include resolution(desktop) {
        bottom: -40px;
        width: 415px;
        height: 315px;
    }

    @include resolution(big-desktop) {
        bottom: -60px;
        width: 500px;
        height: 380px;
    }

    background-image: url('./../img/work-table.png');
    background-position: center top;
}

.chair {
    right: 0;
    bottom: -30px;
    width: 115px;
    height: 190px;

    @include resolution(tablet) {
        bottom: -40px;
        width: 175px;
        height: 285px;
    }

    @include resolution(desktop) {
        bottom: -50px;
        width: 195px;
        height: 320px;
    }

    @include resolution(big-desktop) {
        bottom: -70px;
        width: 234px;
        height: 384px;
    }

    background-image: url('./../img/chair.png');
}

.pillow {
    left: 15%;
    bottom: -10px;
    width: 60px;
    height: 30px;

    @include resolution(tablet) {
        width: 90px;
        height: 45px;
    }

    @include resolution(desktop) {
        width: 100px;
        height: 50px;
    }

    @include resolution(big-desktop) {
        width: 120px;
        height: 60px;
    }

    background-image: url('./../img/pillow.png');
}

.cat_statuette {
    right: 25%;
    bottom: 62%;
    width: 30px;
    height: 40px;

    @include resolution(tablet) {
        width: 45px;
        height: 60px;
    }

    @include resolution(desktop) {
        width: 50px;
        height: 67px;
    }

    @include resolution(big-desktop) {
        width: 60px;
        height: 80px;
    }

    background-image: url('./../img/cat_statuette.png');
}

.paper {
  top: 30px;
  width: 42px;
  height: 42px;
  transition: $transition-300;
  cursor: pointer;

    @include resolution(tablet) {
        width: 65px;
        height: 65px;
    }

    @include resolution(desktop) {
        width: 70px;
        height: 70px;
    }

    @include resolution(big-desktop) {
        width: 85px;
        height: 85px;
    }

    &:hover {
        transform: translateX(-50%) scale(2);
    }

    &:nth-child(1) {
        left: 25%;
        background-image: url('./../img/paper1.png');

        &:hover {
            background-image: url('./../img/snake1.png');
        }
    }

    &:nth-child(2) {
        right: 15%;
        background-image: url('./../img/paper2.png');

        &:hover {
            background-image: url('./../img/paper2.png');
        }
    }
}

// arrows
.arrow {
    position: absolute;
    width: 30px;
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 center;
    border: none;
    z-index: 99;
    opacity: 0;
    transition: opacity $transition-300;

    &:hover,
    &:focus {
        opacity: 1;
        background-color: transparent;
    }

    &--left {
        left: 0;
        background-image: url('./../img/arrow-left.png');
    }

    &--right {
        right: 0;
        background-image: url('./../img/arrow-right.png');
    }
}
//
