.wall-2__content {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 618px;
    position: absolute;
    bottom: 0;
    margin-left: 200px;
}

.wardrobe {
    width: 500px;
    height: 100%;

    .rack {
        width: 93%;
    }

    .chest {
        width: 100%;
    }

    .frame {
        position: absolute;
        width: 100px;
        top: 0px;
        margin-top: 290px;
        margin-left: 326px;
        
        img {
            width: 100%;

            &:hover {
                box-shadow: 0px 0px 20px $color-white;
                cursor: pointer;
            }

            &:active {
                box-shadow: 0px 0px 20px $color-white;
                cursor: pointer;
            }
        }
    }
}

.mirror {
    width: 230px;

    img {
        margin-top: 163px;
        width: 100%;
    }
}

.shelfs {
    width: 370px;

    .shelf {
        margin-bottom: 0;
        width: 100%;

        img {
            width: 100%;
        }

        &:nth-child(2) {
            margin-top: -80px;
            margin-left: 10px;
        }

        &:nth-child(3) {
            margin-top: -90px;
            margin-left: 10px;
        }

        .cube6, .cube4, .cube5, .cube2 {
            position: absolute;
            width: 40px;
            top: 0;

            img {
                width: 100%;
            }
        }

        .cube6 {
            width: 35px;
            margin-top: 256px;
            margin-left: 258px;
        }

        .cube4 {
            margin-left: 149px;
            margin-top: 127px;

            img {
                &:hover {
                    box-shadow: 0px 0px 20px $color-white;
                    cursor: pointer;
                }

                &:active {
                    box-shadow: 0px 0px 20px $color-white;
                    cursor: pointer;
                }
            }
        }

        .cube5 {
            margin-top: 127px;
            margin-left: 63px;
        }

        .cube2 {
            margin-top: 257px;
            margin-left: 169px;
        }
    }
}